*
!*/
!.gitignore
!scripts
!scripts/*
!scripts/*/*
!config
!config/*
!config/incontrol/spawn.json
!defaultconfigs
!defaultconfigs/*
!kubejs
!kubejs/*
!kubejs/*/*
!kubejs/*/*/*/*/*
!kubejs/*/*/*/*/*/*/*
!kubejs/*/*/*/*/*/*/*/*